.title {
  margin: 0;
  text-align: center;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  width: 100%;
}

.data-val {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
